.badge {
    width: 85px;
    height: 35px;
    border-radius: 13px;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    text-transform: capitalize;
    font-weight: bold;
}
